include partials/header.pug
body 
    .modal.fade(id="staticBackdrop",data-bs-backdrop="static",data-bs-keyboard="false",tabindex="-1",aria-labelledby="staticBackdropLabel",aria-hidden="true")
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h5.modal-title(id="staticBackdropLabel") Add Book
                    button.btn-close(type="button",data-bs-dismiss="modal",aria-label="Close")
                .modal-body
                    .form-group.mb-4
                        input.form-control(type="text",id="title", placeholder="Book Title")
                    .form-group.mb-4
                        input.form-control(type="text",id="author", placeholder="Author")
                    .form-group.mb-4
                        input.form-control(type="date",id="publish", placeholder="Publish Date")
                    .form-group.mb-4
                        textarea.form-control(id="desc", placeholder="Desc")
                .modal-footer
                    button.btn.btn-secondary.closeModal(type="button",data-bs-dismiss="modal") Cancel
                    button.btn.btn-primary(type="button",id="addBookBtn") Submit
    .modal.fade(id="editBookModal",data-bs-backdrop="static",data-bs-keyboard="false",tabindex="-1",aria-labelledby="staticBackdropLabel",aria-hidden="true")
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h5.modal-title(id="staticBackdropLabel") Edit Book
                    button.btn-close(type="button",data-bs-dismiss="modal",aria-label="Close")
                .modal-body
                    .form-group.mb-4
                        input.form-control(type="hidden",id="bookId")
                        input.form-control(type="text",id="titleEdit", placeholder="Book Title")
                    .form-group.mb-4
                        input.form-control(type="text",id="authorEdit", placeholder="Author")
                    .form-group.mb-4
                       textarea.form-control(id="descEdit", placeholder="Desc")
                .modal-footer
                    button.btn.btn-secondary.closeModal(type="button",data-bs-dismiss="modal") Cancel
                    button.btn.btn-primary(type="button",id="updateBookBtn") Update
    .modal.fade(id="viewReviews",data-bs-backdrop="static",data-bs-keyboard="false",tabindex="-1",aria-labelledby="staticBackdropLabel",aria-hidden="true")
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h5.modal-title(id="staticBackdropLabel") Reviews
                    button.btn-close(type="button",data-bs-dismiss="modal",aria-label="Close")
                .modal-body
                    .container(id="bookReviews")
                .modal-footer
                    button.btn.btn-secondary.closeModal(type="button",data-bs-dismiss="modal") Close
    include partials/navbar.pug
    .header
        .content Books
    .container(style="padding-bottom: 100px")
        .row.mt-4
            .col-lg-12
                .alert
            .col-lg-12.text-left
                span.title Books 
                a.btn.btn-primary.fl-r(href="#0",data-bs-toggle="modal",data-bs-target="#staticBackdrop") Add Book
            .col-lg-12.mt-4
                table.table 
                    thead 
                        tr
                            th ID
                            th Name
                            th Author
                            th Publish date
                            th Desc
                            th Action
                    tbody(id='adminBooks')
    include partials/footer.pug